body {
  margin: 0;
  /* overflow: hidden; */
}

iframe {
  display: none;
}

.noClick {
  pointer-events: none;
}

.hidden {
  display: none;
}

/* resize images */
.tv {
    position: absolute;
    width: 235px;
    height: 160px;
    left: 385px;
    top: 205px

}
.background {
    position: absolute;
    width: 1000px;
}
.foreground {
    position: absolute;
    width: 1000px;
}

.donutBox {
  position: absolute;
  width: 210px;
  height: auto;
  top: 395px;
  left: 30px;
}

.donutHand {
  position: absolute;
  width: 100px;
  height: auto;
  top: 372px;
  left: 675px;
}

.handLeave-active {
  animation-name: handLeave;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes handLeave { 
    from { transform: translateX(0); }
    to   { transform: transform: translateX(-75px) translateY(250px);}
}


@keyframes handLeave { 
        0%   { transform: translateX(0); }
        50% { transform: translateX(-75px) translateY(250px); }
        100% { transform: translateX(0);}
}


.container {
    position: absolute;
    width: 100%;
    height: 563px;
    overflow: hidden;
}

#goToMosButton {
  position: absolute;
  width: 80px;
  height: auto;
  top: 10px;
  left: 910px;
}
