body {
  margin: 0;
  /* overflow: hidden; */
}

.noClick {
  pointer-events: none;
}

.hidden {
  display: none;
}

/* resize images */
.background {
    position: absolute;
    width: 1000px;
}
.foreground {
    position: absolute;
    width: 1000px;
}

.donutBox {
  position: absolute;
  width: 210px;
  height: auto;
  top: 395px;
  left: 30px;
}

.donutHand {
  position: absolute;
  width: 100px;
  height: auto;
  top: 590px;
  left: 510px;
}

.handEnter-active {
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-name: handEnter;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes handEnter { 
    from { transform: translateY(590px); }
    to { transform: translateY(-270px) translateX(140px);}
}


.handLeave-active {
  animation-fill-mode: backwards;
  animation-name: handLeave;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes handLeave { 
    from { transform: translateY(-270px); }
    to { transform: translateX(-75px) translateY(250px)}
}


.container {
    position: absolute;
    width: 100%;
    height: 563px;
    overflow: hidden;
}

#button {
  position: absolute;
  top: 600px;
}
